@import url('https://fonts.googleapis.com/css2?family=Satisfy&display=swap');
.header_bg{
    
}
.addReview_container{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 800px;
    padding: 50px
}
.addReview_container input{
    width: 100%;
    height: 45px;
    border: none;
}

.addReview_container label{
    color: #ddd;
}

.addReview_container h5{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
}


/* =================================================================react calendar================================ */

.react-calendar{
    width: 413px;
    max-width: 100%;
    border: none;
    height: 500px;
}
.react-calendar__navigation{
    height: 100px;
    padding: 30px 0
}

abbr[title]{
    border: none;
    text-decoration: none;
    color: gray;
    font-weight: 300
}

.react-calendar__navigation button {
    min-width: 44px;
    height: 56px;
    padding: 20px 0;
    background: none;
}

.react-calendar__tile--active {
    background: #12D0D7;
    color: white;
    font-weight: 700;
    border-radius: 6px;
    -webkit-border-radius: 6px;
    -moz-border-radius: 6px;
    -ms-border-radius: 6px;
    -o-border-radius: 6px;
}

.react-calendar__tile {
    max-width: 100%;
    text-align: center;
    padding: 25px 20px;
}

.react-calendar__navigation__label__labelText{
    font-size: 30px;
    color: gray;
    padding: 10px 0
}


.react-calendar__navigation__next-button,
.react-calendar__navigation__prev-button{
    font-size: 35px;
    color: gray;
}

.react-calendar__navigation__prev2-button,
.react-calendar__navigation__next2-button{
    display: none;
}

@media (max-width: 600px) {
 
  .addReview_container{
      width: 100%;
      padding: 10px;
  }
  .addReview_container {
    position: absolute;
    top: 10%;
    left: 0;
    }
}