.header-container {
    height:800px;
    position:relative;
    background: #FBD062;
    clip-path: polygon(20% 0%, 100% 0, 100% 20%, 100% 76%, 82% 81%, 31% 93%, 0 100%, 0 0);
}
.navbar img{
    width: 170px;
}
/* header main */
.header_main{
    width: 100%;
    padding: 10px;
}
.header_main img{
    width: 624.6px;
    height: 422.8px;
}
.header_main h1{
    color: #3A4256;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 1px;
}
.header_main span{
    color: #7AB259
}
.button,
.header_main button{
    padding: 15px 55px;
    border-radius: 50px;
    background: #ffffff;
    color: #000000;
    font-weight: bold;
    border: none;
    transition: .5s;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.button:hover,
.header_main button:hover{
     background: #000000;
    color: #fff;
}
.features-service button{
    margin: 30px 0;
    padding: 15px 25px;
    border: none;
    font-weight: bold;
    color: #ffffff;
    background: #10D0E9;
}
.header_content_write{
    padding: 10px;
}

@media (max-width: 768px){
    .header_content_write{
        padding: 30px 0 30px 30px;
    }
    .navbar .button{
       display: flex;
       justify-content: center;
       align-items: center;
       margin: 15px auto;
    }
}