.card{
    width: 678px;
    height: 224px;
    background: #111430;
    color: #fff;
    font-size: 30px;
    margin: 125px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.card_container {
    width: 100%;
    height: 736px;
    padding: 30px;
    background: #111430;
}

.card_container img{
    width: 400px;
    height: 360px;
}

.hCVuYx,
.chowzb {
   display: none
}

.chowzb {
   display: none
}

.iamfxf {
    width: 500px;
    height: 400px;
    margin-top: -50px;
}

.ikyGAt {
  margin: none;
}

.brcpxa{
    margin: 100px;
}

.card_container h2{
    color: #fff;
    font-size:  30px;
    margin-bottom: 75px;
}


.card_container span{
    color: #7AB259;
}
@media (max-width: 600px) {
  .card_container span{
        margin: 20px 0;
    }
    .card_container h2 {
        color: #fff;
        font-size: 30px;
        margin-bottom: 94px;
    }
    .card_container h2::before {
        content: "";
        position: absolute;
        top: 87px;
        left: 147px;
    }
    .card_container h2::after {
        content: "";
        position: absolute;
        top: 90px;
        left: 66px;
    }
    .card_container {
        width: 100%;
         height: 787px;
        padding: 10px;
        background: #111430;
    }
    .info-card img {
        width: 174px;
        height: 69px;
        display: inline-block;
        margin-top: 56px;
    }
}