.addAdmin_container{
    position: absolute;
    top: 10%;
    left: 30%;
    width: 800px;
    padding: 50px
}
.addAdmin_container input{
    width: 100%;
    height: 45px;
    border: none;
}

.addAdmin_container label{
    color: #ddd;
}

.addAdmin_container h5{
    font-size: 40px;
    font-family: 'Satisfy', cursive;
}