.reviews_container h2{
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin-bottom: 40px;
}
.reviews_container h2::after{
   content: "";
    position: absolute;
    top: 49px;
    left: 26px;
    width: 140px;
    display: block;
    height: 2px;
    background: #1CC7C1;
}
.reviews_container h2::before{
  content: "";
    position: absolute;
    top: 46px;
    left: 81px;
    width: 27px;
    display: block;
    height: 8px;
    background: #1CC7C1;
}

.card-body{
    border: none;
    box-shadow: -20px 30px 20px rgba(0,0,0, 0.2);
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.card-body:hover{
    box-shadow: none;
}

.card {
    /* width: 678px; */
    /* height: 224px; */
    background: #111430;
    color: #fff;
    font-size: 30px;
    margin: 125px 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


 h2{
    font-weight: bold;
    position: relative;
    display: inline-block;
    margin: 40px 0;
}
 h2::after{
    content: "";
    position: absolute;
    top: 49px;
    left: 29px;
    width: 200px;
    display: block;
    height: 2px;
    background: #1CC7C1
}

h2::before{
  content: "";
    position: absolute;
    top: 46px;
    left: 116px;
    width: 27px;
    display: block;
    height: 8px;
    background: #1CC7C1;
}

.reviews span{
  color: #7AB259
}





.review_container{
    margin: 80px 0;
    padding: 10px;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}
.review_container:hover{
    box-shadow: 10px 10px 10px 40px rgb(246, 243, 243);
    transform: translateY(-20px);
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    -o-transform: translateY(-20px);
}

.review_container:hover p{
    color: #1CC7C1;
}

.review_container img{
    height: 80px;
    margin: 10px 20px 0 0 ;
}

.review_container p{
    color: gray;
    transition: .5s;
    -webkit-transition: .5s;
    -moz-transition: .5s;
    -ms-transition: .5s;
    -o-transition: .5s;
}

.review_container h4{

    margin-top: -10px;
    margin-left: 54px
}


@media (max-width: 600px) {
  .review_container{
    margin: 20px 0;
  }
 
}